.projetos__buttons__list {
    display: flex;
    gap: 5vw;
    padding: 1rem;
    position: relative;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .projetos__buttons__list {
        gap: 1rem;
    }
}