.projetos__buttons {
    background: none;
    border: 2px solid var(--cover-shadow);
    border-radius: 1px;
    color: var(--base-color);
    padding: 1rem;
    position: relative;
    transition: .5s ease-in-out;
    width: 100%;
}

.projetos__buttons--repositorio {
    background-color: var(--cover-shadow);
}

.projetos__buttons:hover {
    border: none;
    cursor: pointer;
    background-color: var(--button-hover-bg);
    outline: var(--cover-shadow) solid 2px;
    outline-offset: 2px;
}
