.header {
    align-items: center;
    background-color: var(--back-color);
    display: flex;
    flex-direction: column;
}
/* iphone landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .header {
      flex-direction: row;
      height: 250px;
      justify-content: center;
  }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header {
        flex-direction: row;
        height: 250px;
        justify-content: center;
    }
}
@media screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header {
        background: var(--header-bg);
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
}