.header__logo {
    aspect-ratio: 5/3;
    object-fit: contain;
    background: var(--logo-tsilva) no-repeat center / cover;
    border-radius: 40%;
    width: 40vw;
}
/* iphone landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .header__logo {
      max-width: 29vw;
  }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header__logo {
        max-width: 29vw;
    }
}


/* @media only screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header__containner__logo {
        aspect-ratio: 3/1; 
    }
} */