.resume__title {
    padding: 1rem;
    position: relative; 
}
@media only screen 
  and (min-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .resume__title {
        padding-top: 4rem;
    }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .resume__title {
        padding-top: 8rem;
        text-align: center;
    }
}