.resume__nav__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s ease-in-out;
    width: 95vw;
}
/* iphone landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .resume__nav__list {
      justify-content: space-around;
  }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .resume__nav__list {
        justify-content: space-around;
    }
}
@media screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .resume__nav__list {
        gap: 5rem;
        justify-content: center;
    }
}