.resume__nav {
    justify-content: center;
    display: flex;
    width: 100vw;
}
@media only screen 
  and (min-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .resume__nav {
        border-bottom: 1px solid var(--base-color);
        padding-bottom: 1rem;
        position: absolute;
    }
}
@media screen 
  and (min-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .resume__nav {
        background: var(--nav-bg);
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}