.footer__email__link {
    color: var(--base-color);
    font-size: 1.3rem;
    text-decoration: none;
    transition: .5s ease;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer__email__link {
        width: 25vw;
    }
}
@media only screen 
  and (min-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer__email__link {
        margin: 0 auto;
    }
    .footer__email__link:hover {
      color: var(--button-hover-bg);
  }
}